### 1:creation of tuple

In [2]:
t1=(2,3,4,5,6)
print(t1)

(2, 3, 4, 5, 6)

### 2:tuples with different data types

In [3]:
t=(2,"preethi",4.6)
print(t)

(2, 'preethi', 4.6)

### 3:string to a tuples

In [4]:
def con(tup):
    str="".join(tup)
    return str
tup=("micky","mouse","chota","bheem")
k=con(tup)
print(k)

mickymousechotabheem

## 4:slicing a tuple

In [5]:
tup=("micky","mouse","chota","bheem","tom","jerry")
print(tup[2:])
print(tup[:2])
print(tup[:3])

('chota', 'bheem', 'tom', 'jerry')
('micky', 'mouse')
('micky', 'mouse', 'chota')

### 5:length of a tuple

In [7]:
tup=("micky","mouse","chota","bheem","tom","jerry","black","berry")
print(len(tup))

8

### 6:tuples to dictionary

In [8]:
tup=("micky","mouse","chota","bheem","tom","jerry")
d={}
n=(1,2,3,4,5,6)
for i in range(len(n)):
    d[tup[i]]=n[i]
for fn in d:
    print(fn,d[fn])

micky 1
mouse 2
chota 3
bheem 4
tom 5
jerry 6

### 7:reversing a tuple

In [11]:
tup=("mickey","mouse","chota","bheem","tom","jerry")
for i in range(len(tup)):
    k=tup[::-1]
print(k)

('jerry', 'tom', 'bheem', 'chota', 'mouse', 'mickey')

### 8:list of tuples to a dictionary

In [12]:
tup=(("rama","sita"),("motu","patlu"),("chota","bheem")) 
num=(4,5,6)                                   
t={}                                        
for i in range(len(num)):
    t[tup[i]]=num[i]
for fn,ln in t:
    print(fn,ln,t[fn,ln])

rama sita 4
motu patlu 5
chota bheem 6

### 9:list to a tuple

In [13]:
l1=[1,4,7,8,9]
k=tuple(l1)
print(k)

(1, 4, 7, 8, 9)